<% provide(:title, "About") %>
<h1>About</h1>
<p>
This is a sample web app called Members Only! in which only logged-in members 
can write posts and view the author of posts. Non-members can view the posts 
but cannot see who authored the posts.
</p>

<p>
To view the posts as a member, use the following credentials to 
<%= link_to "log in", login_path %>:
<p></p>
<div><b>Email</b>: foo@bar.com</div>
<div><b>Password</b>: foobar</div>
</p>

<p>
This is a project from The Odin Project under Project: Authentication for
Ruby on Rails. Click <a href="http://www.theodinproject.com/courses/ruby-on-rails/lessons/authentication">here</a> for more information.
</p>
