<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
This is a sample web app called Members Only! in which members can view
the author of posts and non-members cannot.
This is a project from The Odin Project under Project: Authentication for
Ruby on Rails. Click <a href="http://www.theodinproject.com/courses/ruby-on-rails/lessons/authentication">here</a> for more information.
</p>