<div class="center jumbotron">
  <h1>Welcome to Members Only!</h1>

  <h2>
    <p>
    This is an exclusive clubhouse where members can write posts (usually 
    embarassing) posts about non-members.
    </p>
    <p>
    As a member of the clubhouse, you can see who wrote the posts.
    </p>

  </h2>

</div>